body {
    background-color: rgb(186, 55, 247);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#profile {
    height: 70px;
    width: 70px;
    border: solid 1px black;
    border-radius: 50%;
    background-image: url("Coffee.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 20px;
}

#username {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.button-list {
    background-color: White;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    cursor: pointer; /* Adicionado para mostrar que é clicável */
    transition: 0.2s;
}

.button-list:hover {
    background-color: #f3eb05; /* Efeito hover para ficar mais bonito */
}

#networkicon-container {
    width: 30%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os ícones */
}

.network-icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: inline-block; /* Adicionado para garantir o tamanho correto da tag <a> */
}

/* Imagens individuais das redes sociais */
#icon-instagram {
    background-image: url("Logo_Instagram.png");
}

#icon-linkedin {
    background-image: url("Logo_LinkedIn.webp");
}

#icon-github {
    background-image: url("Logo_GitHub.png");
}
